@import "tailwindcss";

:root {
  font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F8FAFC; /* slate-50 */
  color: #0F172A; /* slate-900 */
}
